<form action="/<%= @space.space_id %>/edit" method="post">
  <input type="text" name="name" value="<%= @space.name %>">
  <input type="text" name="description" value="<%= @space.description %>">
  <input type="text" name="price" value="<%= @space.price %>">
  <input type="text" name="image" value="<%= @space.image %>">
  <button type="submit" value="Submit">Submit</button>
</form>