<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Dashboard</title>
    <%= erb :_head %>
  </head>
  <body>

    <%= flash[:notice] %>
    <style>
      body {
        text-align:center;
        margin-top: 200px;
        margin-bottom: 200px;
        background-image: url("https://www.highreshdwallpapers.com/wp-content/uploads/2013/12/City-Scene.jpg");
        background-repeat: no-repeat top left;
        background-attachment: fixed;
      }
    </style>

    <br><a href='/create_space'>Create a space</a>
    <a href='/'>Sign Out</a>
    <h3>Profile Settings</h3>
    <form class="" action="/edit_user_details" method="post">
      <label for="user_name">Name</label>
      <input type="text" value="<%= @logged_in_user.name %>" name="user_name"><br>
      <label for="user_email">Email</label>
      <input type="text" value="<%= @logged_in_user.email %>" name="user_email"><br>
      <input type="submit" name="Submit" value="Update Profile">
    </form>
    <h3>Pending Booking Requests You've Made</h3>
    <h3>Pending Booking Requests For Your Spaces</h3>
    <% @incoming_requests.each do |request| %>
    <p>Requested By: <%= request["booker_name"] %></p>
    <p>Space Requested: <%= request["space_name"] %></p>
    <p>From: <%= request["booking_start_date"] %></p>
    <p>To: <%= request["booking_end_date"] %></p>
    <form class="" action="/<%= request['booking_request_id'] %>/accept_request" method="post">
      <input type="hidden" id="booker_user_id" name="booker_user_id" value=<%= request['booker_user_id'] %>>
      <input type="hidden" id="host_user_id" name="host_user_id" value=<%= request['host_user_id'] %>>
      <p><input type="submit" name="Accept" value="Accept"></p>
    </form>
    <form class="" action="/<%= request['booking_request_id'] %>/reject_request" method="post">
      <input type="hidden" id="booker_user_id" name="booker_user_id" value=<%= request['booker_user_id'] %>>
      <p><input type="submit" name="Reject" value="Reject"></p>
    </form>
    <p>---------</p>
    <% end %>
    <h3>Your Spaces</h3>
    <% @spaces.each do |hash| %>
      <p><%= hash["spacename"] %> 
      <form class="" action="/<%= hash["space_id"] %>/edit">
        <button type="submit" class="button" value="/<%= hash["space_id"] %>/edit">Edit</button>
      </form></p>
      <p>---------</p>
    <% end %>
  </body>

  <div class="logo">
    <img src= '/images/Webp.net-resizeimage.jpg'>
  <div>

</html>
