<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Makers BnB - Request Space</title>
    <%= erb :_head %>

    <script>
      var availableDates = <%= @available_dates %>;

      function available(date) {
          ymd = date.getFullYear() + '-'
            + ('0' + (date.getMonth()+1)).slice(-2) + '-'
            + ('0' + date.getDate()).slice(-2);

          if ($.inArray(ymd, availableDates) == -1) {
            return [false, "", "Unavailable"];
          } else {
              return [true, ""];
          }
      }

      $( function() {
        $( "#datepicker" ).datepicker({
          dateFormat: "dd/mm/yy",
          beforeShowDay: available
        });
      } );
    </script>
  </head>

  <body>

    <%= flash[:notice] %>

    Space name: <%= @space.name %><br />
    Space description: <%= @space.description %><br />
    Space price per night: <%= @space.price_currency %><br />
    Owner name: <%= @space_info['username'] %><br />
    Owner id: <%= @space_info['user_id'] %><br />
    Owner email: <a href="mailto:<%= @space_info['email'] %>"><%= @space_info['email'] %></a><br />

    <form action="/<%= @space.space_id %>/request_space" method="post" autocomplete="off">
      Select date: <input type="text" id="datepicker" name="booking_start_date">
      <input type="submit" value="Submit">
    </form>

    <div class="logo">
      <img src= 'Webp.net-resizeimage.jpg'>
    <div>

  </body>
</html>
