<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Makers BnB - Request Space</title>
    <link rel="stylesheet" type="text/css" href="colours.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"></script>
      <script>
        var availableDates = <%= @available_dates %>;

        function available(date) {
            ymd = date.getFullYear() + '-'
              + ('0' + (date.getMonth()+1)).slice(-2) + '-'
              + ('0' + date.getDate()).slice(-2);

            if ($.inArray(ymd, availableDates) == -1) {
              return [false, "", "Unavailable"];
            } else {
                return [true, ""];
            }
        }

        $( function() {
          $( "#datepicker" ).datepicker({
            dateFormat: "dd/mm/yy",
            beforeShowDay: available
          });
        } );
      </script>

  </head>

  <body>

    <%= flash[:notice] %>

    Space name: <%= @space.name %><br />
    Space description: <%= @space.description %><br />
    Space price per night: <%= @space.price_currency %><br />
    Owner name: <%= @space_info['username'] %><br />
    Owner id: <%= @space_info['user_id'] %><br />
    Owner email: <a href="mailto:<%= @space_info['email'] %>"><%= @space_info['email'] %></a><br />

    <form action="/<%= @space.space_id %>/request_space" method="post" autocomplete="off">
      Select date: <input type="text" id="datepicker" name="booking_start_date">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
