<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Maker BnB - View All Spaces</title>
  </head>
  <body>
    <%= flash[:notice] %>
    <h3>Spaces</h3>
    <a href='/create_space'>Create a space</a>
    <a href='/'>Sign Out</a>
    <% @spaces.each do |hash| %>
      <p>ID: <%= hash["space_id"] %></p>
      <p>Name: <%= hash["spacename"] %></p>
      <p>Description: <%= hash["description"] %></p>
      <p>Price: £<%= hash["price"] %></p>
      <p>Host ID: <%= hash["user_id"] %></p>
      <p>Host Name: <%= hash["username"] %></p>
      <p>Host Email: <%= hash["email"] %></p>
      <p><a href="/<%= hash["space_id"] %>/request_space">Request this space</a>
      <p>---------</p>
    <% end %>
  </body>
</html>
