<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Maker BnB - View All Spaces</title>
    <link rel="stylesheet" type="text/css" href="colours.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
  </head>

  <body>

    <%= flash[:notice] %>
    <style>
      body {
        text-align:center;
        margin-top: 100px;
        margin-bottom: 200px;
        background-image: url("https://www.highreshdwallpapers.com/wp-content/uploads/2013/12/City-Scene.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
    </style>
    <h1 class="heading">Spaces</h1>

    <a href='/create_space'>Create a space</a>
    <a href="/host_dashboard">Dashboard</a>
    <a href='/'>Sign Out</a>
    <div class="space">
    <% @spaces.each do |hash| %>
      <p class="a">ID: <%= hash["space_id"] %> || Name: <%= hash["spacename"] %></p>
      <p class="a" ><img src="<%=hash["image"]%>"></p>
      <p class="a">Description: <%= hash["description"] %></p>
      <p class="a">Price: £<%= hash["price"] %></p>
      <p class="a">Host ID: <%= hash["user_id"] %></p>
      <p class="a">Host Name: <%= hash["username"] %> || Host Email: <%= hash["email"] %></p>
      <p>--------------</p>
      <p class="a"><a href="/<%= hash["space_id"] %>/request_space">Request this space</a>
      <p>---------</p>
    <% end %>
    </div>

    <script src="jquery.js"></script>
  </body>
</html>
